Task 1 : Print the iconic hello world text.

In [1]:
print('hello world')

hello world

Task 2: Create a variable month with your fav month and create day with favourite number. try using the id() function , think what the result means.  change value in month and see if result in id() change.

In [6]:
month = 'January'
day = 11
print("ID of month variable:", id(month))
print("ID of day variable:", id(day))

month = 'November'
print("ID of month variable:", id(month))
#id() returns the identity of an object, a unique integer representing its memory address.

ID of month variable: 4491246320
ID of day variable: 4498165480
ID of month variable: 4491247024

Task 3: try using the del keyword to delete the create day and print day to see the result. example del age

In [7]:
del day

In [8]:
print(day)

NameError: name 'day' is not defined

Task 4: Create a float, int , char variable and name it your favorite colors and use the type() function to see its data type

In [10]:
meow1 = 5.1
meow2 = 4
meow3 = 'Pearl'
print("Type of float variable: ",type(meow1))
print("Type of int variable: ",type(meow2))
print("Type of char variable: ",type(meow3))

Type of float variable:  <class 'float'>
Type of int variable:  <class 'int'>
Type of char variable:  <class 'str'>

Task 5: Run the below commands and understand the case sensitivity.

In [12]:
x = str(10)
y = int(10)
z = float(10)

print("x = ", x)
print("y = ", y)
print("z = ", z)
# This demonstrates that while x, y, and z hold different types of values (string, integer, and float respectively), 
#they all represent the number 10. However, Python treats them differently based on their types.

x =  10
y =  10
z =  10.0