### Task 1 : Declares the variables below and use the type function to see what class they are:

In [1]:
var1 = 1
var2 = True
var3 = 10.023
var4 = 10+3j

In [4]:
print("Type of variable 1: ",type(var1))
print("Type of variable 2: ",type(var2))
print("Type of variable 3: ",type(var3))
print("Type of variable 4: ",type(var4))

Type of variable 1:  <class 'int'>
Type of variable 2:  <class 'bool'>
Type of variable 3:  <class 'float'>
Type of variable 4:  <class 'complex'>

### Task 2 : Declare a string called str, with one thing you learned from kindergarten. Print the first character of the string (Think it's an array). Print from 3rd to 5th character (Treat it as an index range). Now try to print after the 3rd character. Print the same string twice using the repetitive operator (*), Now add your bestie's name to the string using the concatenation operator (*). Solution will be down.

In [11]:
str = 'Mwuthe'
print(str[0])
print(str[2:4])
print(str[3:])
print(str*2)
print(str+' Kuruvilla')

M
ut
the
MwutheMwuthe
Mwuthe Kuruvilla

### Task 3 : Try creating a list with two other lists inside it , is it possible?

In [13]:
list1 = [23,'King',40.0]
list2 = [21, 'Queen', 30.0]
list_ = [list1,list2]
print(list_)
#Yes it is possible

[[23, 'King', 40.0], [21, 'Queen', 30.0]]

### Task 4 : Create a list "firdous" and store 4 qualities you like about yourself.
create another list called "cars" and add two of your favorite cars. Now do these tasks
Print the whole list
Print the third item
Print the items from 1 to 3
Print all the lists from end element
Print the car list twice using *
Print the concatenated version of both the strings

In [14]:
firdous = ["creative", "delulu", "strong", "dedicated"]
cars = ["Mercedes AMG G63", "Porsche 911"]
print(firdous)
print(cars)
print(firdous[2])
print(firdous[0:3])
print(firdous[-1])
print(cars[-1])
print(cars*2)
print(firdous+cars)

['creative', 'delulu', 'strong', 'dedicated']
['Mercedes AMG G63', 'Porsche 911']
strong
['creative', 'delulu', 'strong']
dedicated
Porsche 911
['Mercedes AMG G63', 'Porsche 911', 'Mercedes AMG G63', 'Porsche 911']
['creative', 'delulu', 'strong', 'dedicated', 'Mercedes AMG G63', 'Porsche 911']

### Task 5: Try declaring a tuple, add your favorite foods and check its type. Can this also hold multiple data types like lists?

In [17]:
favs = ("noodles","kunafa","tiramisu","iced coffee")
print("Type of favorite_foods:", type(favs))
multiple = ("kk",21,3.0,(1,2,3),"a")
print(multiple)

Type of favorite_foods: <class 'tuple'>
('kk', 21, 3.0, (1, 2, 3), 'a')

In [18]:
# list items can be changed, tuple cannot