### Task 1: Create two variables one variable is your name which is capitalized other one which is not capitalized and print the both variables and see if they are the same. Are they both different ?

In [1]:
namecaps = 'Firdous'
namenocaps = 'firdous'

print('Firdous = ', namecaps)
print('firdous = ',namenocaps)

Firdous =  Firdous
firdous =  firdous

### Task 2 : So now your task is to do the same but a,b,c should have different values . a should have 10 , b should have 20 , c should have 30.

In [2]:
a,b,c = 10,20,30
print(a,b,c)

10 20 30

### Additional task : Try declaring a b c with three different data type of variables and see if its possible like a int , b float , c char.

In [3]:
a,b,c = 10,20.0,'k'
print(a,b,c)

10 20.0 k

### Task 3: Identify which is the accepted ways to name a variable
- counter = 100        CORRECT
- _count  = 100        CORRECT
- 1counter = 100       INCORRECT
- $_count  = 100       INCORRECT
- name1 = "Zara"       CORRECT
- name2 = "Nuha"       CORRECT
- Age  = 20            CORRECT
- zara-salary = 100000 INCORRECT
- zara_salary = 100000 CORRECT